{% extends "layout.html" %}
{% block content %}
<h2>Documents classifier for The 6 Commission priorities for 2019-24</h2>
<div class="p-4 p-lg-5 bg-light rounded-3">
    <form action="{{form.action}}" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Classification Score</th>

                </tr>
            </thead>
            <tbody>
                {% for class, score in classes.items() %}
                <tr>
                    <th scope="row">{{class.split('_')[0]}}</th>
                    <td>{{' '.join(class.split('_')[1:]).replace('_', ' ')}}</td>
                    <td> {{ "{:.2f}".format(score * 100) }} %</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

</div>
{% endblock %}