<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <!-- <link rel="manifest" href="./manifest.webmanifest">
    <link rel="shortcut icon" href="./favicon.png"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eurovoc_autocomplete.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">

</head>

<body>


    <div class="container">
        <div class="search-panel">
            <div class="search-panel__results">
                <div id="searchbox">
                    <ul id="eurovoc_concepts" class="eurovoc_concept"></ul>
                </div>
                <div id="hits"></div>
            </div>
        </div>

        <div id="pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.44.0"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/typesense-instantsearch-adapter@2/dist/typesense-instantsearch-adapter.min.js"></script>
    <script>
        // when checking the box, add the concept id to the ul list
        document.addEventListener('change', function (event) {
            if (!event.target.matches('input[type="checkbox"]')) return;

            var ul = document.getElementById('eurovoc_concepts');
            var li = document.createElement('li');

            var button = document.createElement('button');
            button.setAttribute('type', 'button');
            button.setAttribute('class', 'btn btn-primary position-relative');
            button.setAttribute('id', event.target.id);
            button.setAttribute('name', event.target.name);
            button.setAttribute('value', event.target.value);
            button.setAttribute('onclick', 'removeConcept(this)');
            button.innerHTML = event.target.value;
            var span = document.createElement('span');
            span.setAttribute('class', 'position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger');
            span.innerHTML = 'x';
            button.appendChild(span);
            li.appendChild(button);
            ul.appendChild(li);

        }, false);
        const typesenseInstantsearchAdapter = new TypesenseInstantSearchAdapter({
            server: {
                apiKey: '123', // Be sure to use an API key that only allows searches, in production
                nodes: [
                    {
                        host: 'localhost',
                        port: '8108',
                        protocol: 'http',
                    },
                ],
            },
            additionalSearchParameters: {
                queryBy: 'label,altlabels, concept_id,definitions',
            },
        });
        const searchClient = typesenseInstantsearchAdapter.searchClient;

        const search = instantsearch({
            searchClient,
            indexName: 'eurovoc',
        });

        search.addWidgets([
            instantsearch.widgets.searchBox({
                container: '#searchbox',
            }),
            instantsearch.widgets.configure({
                hitsPerPage: 8,
            }),
            instantsearch.widgets.hits({
                container: '#hits',
                templates: {
                    item(item) {
                        return `
                        <div>
                          <div class="hit-label">
                            <input type="checkbox" name="eurovoc_concept" value="${item.label}(${item.concept_id})" id="${item.concept_id}">
                            <a href="https://eurovoc.europa.eu/${item.concept_id}" target="_blank">${item._highlightResult.label.value}</a>
                            <span class="hit-id">(${item._highlightResult.concept_id.value})</span>
                          </div>
                          
                          <div class="hit-altlabels">
                            <span class="hit-altlabels-label">Synonyms:</span>
                            ${item._highlightResult.altlabels.map((a) => a.value).join('", "')}
                            </div>
                          <div class="hit-definitions">
                            <span class="hit-definitions-label">Definition:</span>
                          ${item._highlightResult.definitions.map((a) => a.value).join(', ')}
                          </div>
                        </div>
                      `;
                    },
                },
            }),
            instantsearch.widgets.pagination({
                container: '#pagination',
            }),
        ]);

        search.start();
    </script>
</body>

</html>