{% extends "layout.html" %}
{% block content %}


<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

<!-- include js file  static/export.js -->

<script src="{{ url_for('static', filename='export.js') }}"></script>



<!-- display  -->
<!-- 
  tree_data =   
 -->
<!-- dispay tree from tree_data -->

<div class="row mb-3">
    <div class="col">

        <!-- button to show the modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Insert metadata
        </button>
    </div>

    <div class="col">
        <!-- button to submit metadata -->
        <button type="button" class="btn btn-primary" id="submit_metadata">
            Submit metadata
        </button>
    </div>

</div>


<div class="row mb-3">
    <div class="col">

        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-controls="collapseOne">
                        Feedback information :
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-3">
                            <label for="document_id" class="form-label">Catalogue Number</label>
                            <input type="text" class="form-control" id="document_id"
                                placeholder="Please, provide the catalogue Number" title="Doc id">

                        </div>

                        <div class="mb-3">
                            <!-- 5 starts evaluation -->
                            <label for="rating" class="form-label">Results rating : <span
                                    id="rating_span">Neutral</span>
                                <!-- reset button -->
                                <a href="#" id="reset_rating">Reset</a>
                            </label>
                            <div id="rating">
                                <i id="rate_0" style="display:none" class="bi2 bi-star active-bi"></i>
                                <i id="rate_1" class="bi2 bi-star"></i>
                                <i id="rate_2" class="bi2 bi-star"></i>
                                <i id="rate_3" class="bi2 bi-star"></i>
                                <i id="rate_4" class="bi2 bi-star"></i>
                                <i id="rate_5" class="bi2 bi-star"></i>
                            </div>

                        </div>
                        <!-- comment textarea -->
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea class="form-control" id="comment" rows="3"></textarea>
                        </div>


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Extracted text
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p id="document_text">{{text}}</p>
                    </div>
                </div>

            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Metadata recommended from Following Similar Documents :
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <!-- foreach document in similar_docs, display document title with it's link -->
                        <!-- print the array -->
                        <ul>
                            {% set accumulator = namespace(similar_docs_ids='') %}

                            {% for doc in similar_docs %}

                            {% set accumulator.similar_docs_ids =doc['id'] + ';' + accumulator.similar_docs_ids %}


                            <li>
                                <a
                                    href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri={{doc.id}}">{{doc.title}}</a>

                            </li>

                            {% endfor %}
                        </ul>
                        <!-- put all similar_docs ids in hidden input -->
                        <input type="hidden" id="similar_docs_ids" value="{{accumulator.similar_docs_ids}}">
                        <!-- hidden is file -->
                        <input type="hidden" id="is_file" value="{{is_file}}">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- bootstrap 5 modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add another metadata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- autocomplete form to choose multiple elements from list -->
                <div class="autoComplete_wrapper">
                    <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off"
                        autocomplete="off" autocapitalize="off">
                </div>
                <div class="row g-3" style="margin-top : 10px">
                    <div class="col-auto">


                        <ul id="metadata-list" class="list-group">

                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="close_modal_button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-ok" data-bs-dismiss="modal" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <label for="filter_slider" class="form-label">Filter results</label>

        <input type="range" value="1" class="form-range" id="filter_slider" min="1" max="10">
        <!-- output value -->
        <div id="filter_slider_value"></div>

        <script>
            var slider = document.getElementById("filter_slider");
            var output = document.getElementById("filter_slider_value");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function () {
                output.innerHTML = this.value;
            }
        </script>
    </div>
</div>



<div class="row mb-3">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Table</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Tree</button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="table"></div>
            </div>
            <div class="tab-pane fade" style="border: 1px solid #3BBCF4" id="profile" role="tabpanel"
                aria-labelledby="profile-tab">
                <!-- loading icon -->
                <div id="loading">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <ul id="tree" class="tree">
                </ul>
            </div>

        </div>
    </div>
</div>

<script>

    // array of data 
    initial_data = [
        {% for key, value in metadata.items() %}
    {
        id: '{{key}}',

            id_formated: '{{key}}',
                metadata : '  ',
                    url: '  ',
                        score: '  ',
                            isHeader : true,
                                selected : false,
                    },
    {% for v in value %}
    {
        id: '{{ v[0] }}',
            id_formated: '{{ v[1] }}',
                metadata : '{{ v[2] }}',
                    url: '{{ v[3] }}',
                        score: '{{ v[4] }}',
                            selected: false,
                                isManualyAdded: false,


            },
    {% endfor %}
    {% endfor %}
        ];




</script>


{% endblock %}