{% extends "layout.html" %}
{% block content %}
<div class="p-4 p-lg-5 bg-light rounded-3">
  <h1>Documents metadata</h1>

  <form action="{{form.action}}" method="post">

    <label for="customRange1" class="form-label">Filtering metadata [1-10]</label>
    <input type="range" value="1" min="1" max="10" class="form-range" id="filter"
      oninput="this.nextElementSibling.value = this.value">
    <output id="output">1</output>


    {% for key,value in metadata.items() %}

    <h2>{{ key }}</h2>

    {% for v in value %}

    <dive>
      <input type="checkbox" name="{{ key }}" value="{{ v[0] }}|{{ v[1] }}" checked>
      <!-- <a href="{{v[1]}}">{{v[0]}}, </a>[{{v[2]* 100}}%]<br> -->
      <a href="{{v[1]}}">{{v[0]}}, </a>
      <progress id="file" value="{{v[2]* 100}}" max="100"> {{v[2]* 100}}% </progress> {{v[2]}}
    </dive>
    <br>

    <!-- display percentage bar -->
    <!-- <div style="width:%; height:10px; background-color:grey;"></div> -->


    {% endfor %}


    {% endfor %}
    <br>
    <input class="btn btn-primary btn-lg" type="submit">
  </form>

</div>
<!-- javascript -->
<script>

  var slider = document.getElementById("filter");
  slider.oninput = function () {
    slider_value = slider.value * 10;
    //console.log("slider.value : " + value);
    output.innerHTML = slider_value;


    var checkboxes = document.getElementsByTagName('input');
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].type == 'checkbox') {
        progress_value = checkboxes[i].nextElementSibling.nextElementSibling.value;
        //console.log("progress_value : " + progress_value);

        // unchecked all checkboxes that have value less than slider.value

        if (slider_value > progress_value) {
          checkboxes[i].checked = false;
          // hide it also 
          checkboxes[i].parentElement.style.display = 'none';
        }
        else {
          checkboxes[i].checked = true;
          checkboxes[i].parentElement.style.display = 'block';
        }

      }
    }
  }




</script>

{% endblock %}