{% extends "layout.html" %}
{% block content %}
<div class="p-4 p-lg-5 bg-light rounded-3">

  <!-- {{filename}} -->
  <h2>Similar documents</h2>
  <!-- for each doc display title -->
  <table>
    <tr>
      <!-- <th>Title</th> -->
    </tr>
    <tbody>
      {% for doc in documents %}

      <tr>


        <td><a href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri={{ doc['id'] }}"> {{ doc["title"] }}</a></td>

      </tr>

      {% endfor %}

    </tbody>
  </table>
  </tbody>

  {% endblock %}
</div>