{% extends "layout.html" %}
{% block content %}
<h1>{{form.title}}</h1>
<div class="p-4 p-lg-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-file-pdf"></i>
            </div>
            <h2 class="fs-4 fw-bold">Upload a document</h2>
            <form action="{{form.action}}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.file }}

                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </form>
            <!-- <p class="mb-0">Classify document according EU priorities </p> -->
        </div>
    </div>


</div>

<div class="p-4 p-lg-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-file-pdf"></i>
            </div>
            <h2 class="fs-4 fw-bold">Write a text </h2>
            <form action="{{form.action}}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.text(class_="form-control") }}
                <br>
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </form>
            <!-- <p class="mb-0">Classify document according EU priorities </p> -->
        </div>
    </div>


</div>





{% endblock %}