body,
h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(284deg, #fedd4e, #fcb43a);
    color: #fff;
    margin-bottom: 1rem;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header-title {
    font-size: 1.2rem;
    font-weight: normal;
}

.header-title::after {
    content: ' ▸ ';
    padding: 0 0.5rem;
}

.header-subtitle {
    font-size: 1.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.search-panel {
    display: flex;
}

.search-panel__filters {
    flex: 1;
}

.search-panel__results {
    flex: 3;
}

.ais-Highlight-highlighted {
    color: inherit;
    font-size: inherit;
}

#searchbox {
    margin-bottom: 2rem;
}

#pagination {
    margin: 2rem auto;
    text-align: center;
}

.hit-label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
}

.hit-definitions {
    margin-top: 3px;
    font-size: 0.8rem;
}

.hit-altlabels {
    margin-top: 3px;
    font-size: 0.8rem;
}

.hit-altlabels-label,.hit-definitions-label {
    font-weight: bold;
    color: #666;
}

.hit-publication-year {
    font-size: 0.8rem;
    margin-top: 20px;
}

.hit-rating {
    margin-top: 3px;
    font-size: 0.8rem;
}


.ais-Hits-item {
    padding: 0px;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    padding-left: 10px;
}
/* inline ul > li for eurovoc_concept 
add background color to the list items 
*/
ul.eurovoc_concept {
    list-style: none;
    padding: 0;
    margin: 0;
    /* inline items */
    display: flex;
    flex-wrap: wrap;
   
}
ul.eurovoc_concept li {
    margin: 5px;
    font-weight: bold;
}

li > button.btn {
    border: none;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8rem;
   
}
